:root {
  --black: #141413;
  --gold: #ffbf00;
}

body {
  text-align: center;
  background-color: var(--black);
  color: var(--gold);
}

.homePage h1 {
  font-size: 75px;
}
.homePage p {
  font-size: larger;
}

.navbar {
  background-color: var(--black);
  padding: 10px 20px;
}

nav {
  display: flex;
  justify-content: flex-end; /* Align links to the right */
}

nav a {
  color: var(--gold);
  text-decoration: none;
  margin-left: 15px; /* Adjust spacing between links */
  transition: box-shadow 0.3s ease; /* Adding transition for the box-shadow */
  font-size: 20px;
}

nav a:hover {
  box-shadow: 0 0 5px rgba(255, 215, 0, 0.5); /* Add shadow on hover */
}
