:root {
  --black: #141413;
  --gold: #ffbf00;
}

body {
  text-align: center;
  background-color: var(--black);
  color: var(--gold);
}

.homePage h1 {
  font-size: 75px;
}
.homePage p {
  font-size: 20px;
  margin-bottom: 5%;
}

.homePage a {
  font-size: 40px;
  padding: 20px;
  color: var(--gold);
  text-decoration: none;
}

.homePage a:hover {
  box-shadow: 0 0 5px rgba(255, 215, 0, 0.5); /* Add shadow on hover */
}
.navbar {
  background-color: var(--black);
  padding: 10px 20px;
}

nav {
  display: flex;
  justify-content: flex-end; /* Align links to the right */
}

nav a {
  color: var(--gold);
  text-decoration: none;
  margin-left: 15px; /* Adjust spacing between links */
  transition: box-shadow 0.3s ease; /* Adding transition for the box-shadow */
  font-size: 20px;
}

nav a:hover {
  box-shadow: 0 0 5px rgba(255, 215, 0, 0.5); /* Add shadow on hover */
}

.signIn {
  font-size: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 25%; /* Adjust the height as needed */
}

.signInBox {
  font-size: 50px;
  width: 25%;
  height: 20%;
  background-color: var(--gold); /* Background color for the box */
  padding: 20px; /* Padding around the box */
  border-radius: 15px; /* Rounded corners */
  text-align: center; /* Center align text */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow */
}

.signInForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px; /* Adding margin for spacing between form and buttons */
}

.signInForm label {
  margin-bottom: 5px; /* Adjust space between labels and inputs */
  color: var(--black);
  font-size: 35px;
}

.signInForm input {
  text-align: center;
  width: 75%;
  height: 25px;
  border: none;
  color: var(--black);
  margin-bottom: 10px; /* Adjust space between inputs */
  border-radius: 10px;
  font-size: 20px;
}
.signInBox input:focus {
  outline: none;
}

.signInForm button {
  margin-top: 10px;
  width: 50%;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: var(--black);
  color: white;
  font-size: 25px;
  transition: box-shadow 0.3s ease; /* Adding transition for the box-shadow */
}

.signInForm button:hover {
  cursor: pointer;
  box-shadow: 0 0 8px rgba(41, 41, 41, 0.3);
}

.googleBtn {
  margin-top: 10px;
  width: fit-content;
  padding: 10px;
  height: fit-content;
  border: none;
  border-radius: 10px;
  background-color: var(--black);
  color: white;
  font-size: 25px;
  transition: box-shadow 0.3s ease;
}

.signUp {
  font-size: 30px;
}

.signUpBox {
  margin-left: auto;
  margin-right: auto;
  font-size: 50px;
  width: 25%;
  height: 20%;
  background-color: var(--gold); /* Background color for the box */
  padding: 20px; /* Padding around the box */
  border-radius: 15px; /* Rounded corners */
  text-align: center; /* Center align text */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow */
}

.signUpForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px; /* Adding margin for spacing between form and buttons */
}

.signUpForm label {
  margin-bottom: 5px; /* Adjust space between labels and inputs */
  color: var(--black);
  font-size: 35px;
}

.signUpForm input {
  text-align: center;
  width: 75%;
  height: 25px;
  border: none;
  color: var(--black);
  margin-bottom: 10px; /* Adjust space between inputs */
  border-radius: 10px;
  font-size: 20px;
}
.signUpBox input:focus {
  outline: none;
}

.signUpForm button {
  margin-top: 10px;
  width: 50%;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: var(--black);
  color: white;
  font-size: 25px;
  transition: box-shadow 0.3s ease; /* Adding transition for the box-shadow */
}

.signUpForm button:hover {
  cursor: pointer;
  box-shadow: 0 0 8px rgba(41, 41, 41, 0.3);
}

.error {
  color: red;
  font-weight: bold;
  font-size: 20px;
}

.googleBtn {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  /* Add other button styles */
  cursor: pointer;
  box-shadow: 0 0 8px rgba(41, 41, 41, 0.3);
}

.googleLogo {
  width: 24px; /* Adjust the width of the Google logo */
  height: auto; /* Maintain aspect ratio */
  margin-right: 5px; /* Add some spacing between the image and text */
  margin-left: 10px;
}

.loaderContainer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 9999; /* Set a higher z-index to ensure it appears above other elements */
}

.loaderContainer span {
  margin-top: 20px; /* Add some space between loader and text */
  color: var(--gold); /* Text color */
  font-size: 30px; /* Adjust font size */
}

.loader {
  border: 16px solid; /* Light grey */
  border-top: 16px solid var(--black); /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

ul {
  list-style-type: none;
}

.statuscheckerBox {
  margin-left: auto;
  margin-right: auto;
  font-size: 50px;
  width: 25%;
  height: 20%;
  background-color: var(--gold); /* Background color for the box */
  padding: 20px; /* Padding around the box */
  border-radius: 15px; /* Rounded corners */
  text-align: center; /* Center align text */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow */
}

.statuscheckerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px; /* Adding margin for spacing between form and buttons */
}

.statuscheckerForm label {
  margin-bottom: 5px; /* Adjust space between labels and inputs */
  color: var(--black);
  font-size: 35px;
}

.statuscheckerForm input {
  text-align: center;
  width: 75%;
  height: 25px;
  border: none;
  color: var(--black);
  margin-bottom: 10px; /* Adjust space between inputs */
  border-radius: 10px;
  font-size: 20px;
}
.statuscheckerBox input:focus {
  outline: none;
}

.statuscheckerForm button {
  margin-top: 10px;
  width: 50%;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: var(--black);
  color: white;
  font-size: 25px;
  transition: box-shadow 0.3s ease; /* Adding transition for the box-shadow */
}

.statuscheckerForm button:hover {
  cursor: pointer;
  box-shadow: 0 0 8px rgba(41, 41, 41, 0.3);
}

.resultsBox {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  font-size: 50px;
  width: 25%;
  height: 20%;
  background-color: var(--gold); /* Background color for the box */
  padding: 20px; /* Padding around the box */
  border-radius: 15px; /* Rounded corners */
  text-align: center; /* Center align text */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow */
  align-items: center;
}

.resultsBox h2 {
  color: var(--black);
  font-size: 80%;
}

.resultsBox p {
  color: var(--black);
  font-size: 25px;
}
